body{
	margin: 0 auto;
	background-image: url("francemarket3.png"); 
 	background-position: right top	font-family: Tahoma, Geneva, serif;
	font-size: 30px;
	color:white;
	max-width:800px;
	padding:30px;
	font-size:20px;
}

p	{
	line-height: 150%;
	font-weight: 400;
	color:black;
}

h1	{
	font-size:200%;
}

h2	{
	font-size:125%;
}

a {
    color: black;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

a:visited {
    color: blue;
}

a:hover {
  color: white;
	background-color: blue;
}
ul {
    padding: 0;
    margin: 0px 0px 0px 50px;
    list-style-position: inside;
    list-style-type: circle;

}

li {
     line-height:150%    
}
li ul, li ul {
    margin-left: 24px;
}
