body{
	margin: 0 auto;
	background-color:#33D49E;
	font-family: Tahoma, Geneva, serif;
	font-size: 22px;
	color:white
	max-width:800px;
	padding:30px;
	font-size:18px;
	text-align: center
}

p	{
	line-height: 150%;
	font-weight: 400;
	color:black;
	text-align: center
}

h1	{
	font-size:200%;
	text-align: center
}

h2	{
	font-size:150%;
	text-align: center
}

a {
    color: black;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

a:visited {
    color: grey;
}

a:hover {
  color: white;
	background-color: grey;
}
ul {
    padding: 0;
    margin: 0px 0px 0px 50px;
    list-style-position: left;
    list-style-type: circle;

}

li {
     line-height:150%    
}
li ul, li ul {
    margin-left: 24px;
}
