body{
	margin: 0 auto;
	background-color:lightblue;
	font-family:serif;
	font-size: 24px;
	color:white
	max-width:800px;
	padding:30px;
	font-size:20px;
}

p	{
	line-height: 150%;
	font-weight: 400;
	color:white;
}

h1	{
	font-size:250%;
}

h2	{
	font-size:200%;
}

a {
    color: black;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

a:visited {
    color: grey;
}

a:hover {
  color: white;
	background-color: grey;
}

ul {
    list-style-type: circle;
    list-style-position: inside;
}

li {
     line-height:150%    
}
li ul, li ul {
    margin-left: 24px;
}

